#restaurant_create {
    .img_container {
        height: 200px;
        width: 200px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .badge-container {
        span {
            font-size: 16px;
        }
    }
}