#restaurant-show {
    min-height: calc(100vh - 415px);
    .details {
        ul {
            list-style: none;
            padding-inline-start: 0;
            li {
                margin: 10px 0;
            }
        }
        .fas {
            color: #17a2b8;
        }
        .restaurant-image {
            width: 450px;
            height: 300px;
            box-shadow: 0 0 10px black;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}