// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
//COMMON
body {
    font-size: 17px;
    letter-spacing: 1px;
}

@media screen and (max-width:575px){
    body {
        font-size: 15px;
    }
}