#orders-index {
    min-height: calc(100vh - 425px);
    table {
        td {
            vertical-align: middle;
        }
    }
    @media screen and (max-width: 575px) {
        table {
            display: block;
            width: 100%;
            overflow-x: auto;
        }
    }
}