#dish_create {
    .img_container {
        height: 200px;
        width: 200px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    table {
        text-align: center;
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }
    }
    @media screen and (max-width: 575px) {
        table {
            display: block;
            width: 100%;
            overflow-x: auto;
        }
    }
}